* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--magenta: #3c110c;
	/* --magenta: #96064f; */
	--stone: #4f6c82;
	--pecan: #3c110c;
	--alabaster: #fef9ef;
	--fontLogoHeader: "Dancing Script", Helvetica, Arial, sans-serif;
	--fontLogoSubheader: "Josefin Sans", Serif, Helvetica, sans-serif;
	--fontHeader: "Josefin Sans", Serif, Helvetica, sans-serif;
	/* --fontHeader: "Playfair Display", Georgia, Garamond, "Times New Roman", serif; */
	--fontParagraph: "Source Sans Pro", Verdana, Arial, Helvetica, sans-serif;
}

body {
	margin: 0 auto;
	font-family: var(--fontParagraph);
	font-size: 1rem;
}

main {
	min-height: 60vh;
	max-width: 1500px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.loader {
	margin: 50px auto;
	width: 100px;
	height: 100px;
	border: 16px solid var(--alabaster);
	border-top: 16px solid var(--magenta);
	border-bottom: 16px solid var(--magenta); /* Blue */
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: linear-gradient(#110e04, var(--pecan) 60%);
}

.logo {
	margin: 15px;
	text-align: center;
}

.logo-header {
	font: italic 700 35px var(--fontLogoHeader);
	color: var(--alabaster);
}

.logo-subheader {
	font: 300 15px var(--fontLogoSubheader);
	color: var(--alabaster);
}

.navigation {
	display: none;
}

.navigation-active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	left: 0px;
	top: 75px;
	width: 100%;
	height: 0px;
	background-image: linear-gradient(var(--pecan), #110e04 90%);
	z-index: 3;
	animation: menu 0.8s forwards;
}

@keyframes menu {
	100% {
		height: 250px;
	}
}

.nav-link {
	margin: 5px;
	min-width: 100px;
	padding: 5px;
	text-align: center;
	font: italic 500 18px var(--fontHeader);
	color: var(--alabaster);
	transition: background-color 0.5s;
	border-radius: 10px;
}

.nav-link:hover {
	cursor: pointer;
	color: var(--alabaster);
	background-color: var(--magenta);
	transition: background-color 0.5s;
}

.mobile-menu,
.search-icon,
.search-icon-desktop,
#search-button {
	display: inline-block;
	font-size: 20px;
	color: var(--alabaster);
}

.search {
	width: 400px;
	max-width: 80vw;
	padding: 5px;
	border-color: var(--pecan);
	border-radius: 10px;
}

#search-button {
	padding: 10px 15px;
	color: var(--pecan);
}

.search-container {
	display: none;
}

.search-container-on {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	background-color: var(--alabaster);
	z-index: 2;
}

.subheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	background-color: var(--alabaster);
}

.current-location {
	padding: 5px 15px;
}

.current-page {
	text-decoration: underline;
	opacity: 80%;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
	position: absolute;
	padding: 15px;
	color: var(--pecan);
	opacity: 70%;
}

.fa-circle-chevron-left {
	left: 10px;
	opacity: 10%;
}

.fa-circle-chevron-right {
	right: 10px;
}

footer {
	margin-top: 50px;
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(#fff, var(--alabaster) 30%);
}

.footer-text {
	color: var(--pecan);
}

hr {
	margin: 10px 0;
	width: 80%;
}

.carousel-wrap {
	position: relative;
	display: flex;
	align-items: center;
}

.h2-backgr {
	padding: 30px;
	margin: 30px 0;
	background-image: linear-gradient(var(--alabaster), #fff 95%);
	border-top: 1px solid var(--magenta);
	border-radius: 10px;
}

.h2-header {
	text-align: center;
	font: 600 2.3rem var(--fontHeader);
	color: var(--magenta);
}

.carousel-container {
	width: 80%;
	margin: auto;
}

.posts {
	display: flex;
	margin: 10px 20px 17px 0px;
	padding: 5px 0 5px 20px;
	overflow: hidden;
	scroll-behavior: smooth;
}

.popular-posts,
.posts-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 20px auto;
}

/* -----> Post container -----> */

.post {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	max-width: 250px;
	min-width: 250px;
	margin: 20px;
	background-color: var(--alabaster);
	border-radius: 20px 0;
	border: 1px solid var(--magenta);
	box-shadow: 2px 3px 5px var(--magenta);
	color: var(--pecan);
}

.carousel-container .post {
	margin: 15px 20px 15px 0;
}

.post-image,
.about-img {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px 0 0;
}

.post-title {
	margin: 10px;
	text-align: center;
	color: var(--pecan);
	font: 800 1.5rem var(--fontLogoHeader);
}

.post p {
	margin: 10px;
	font-family: var(--fontParagraph);
}

.post-date {
	padding: 10px;
	font: 0.7rem var(--fontLogoSubheader);
}

#next-page {
	width: max-content;
	margin: 50px auto;
	padding: 10px;
	font: 600 1.2rem var(--fontParagraph);
	color: var(--pecan);
}

#next-page:hover {
	cursor: pointer;
	color: var(--magenta);
}

/* -----> Single post page -----> */

.post-header {
	width: 80%;
	margin: 0px auto;
	margin-bottom: 50px;
	background-color: var(--alabaster);
	border: 1px solid var(--magenta);
	border-radius: 20px;
	box-shadow: 2px 3px 5px var(--magenta);
	color: var(--pecan);
}

.post-header:hover {
	cursor: pointer;
}

#single-post {
	height: 400px;
	border-radius: 20px;
}

.recipe {
	margin: 10px auto;
	padding: 30px;
}

.recipe h2 {
	margin: 50px;
	font: italic 500 1.8rem var(--fontHeader);
	color: var(--pecan);
}

.recipe p,
.about-me p {
	max-width: 800px;
	padding: 10px;
	font: 300 1.2rem var(--fontParagraph);
	text-indent: 30px;
	line-height: 30px;
}

.recipe li {
	padding: 5px 0;
	font: italic 300 1.2rem var(--fontParagraph);
}

.recipe h6 {
	margin: 10px 0;
	font: 600 1rem var(--fontParagraph);
	text-transform: uppercase;
}

.recipe img {
	width: 90%;
	height: auto;
}

.recipe img:hover {
	cursor: pointer;
}

.recipe figure {
	width: fit-content;
	margin: 20px auto;
}

.add-message {
	max-width: fit-content;
	margin: 0 auto;
}

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #110e04;
	z-index: 1;
	overflow: auto;
	animation: opacity 0.5s linear;
}

@keyframes opacity {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 95%;
	}
}

.close-modal {
	position: fixed;
	right: 30px;
	top: 30px;
	padding: 20px;
	color: red;
}

#modal-image {
	display: block;
	width: 80%;
	height: auto;
}

/* -----> Contact page -----> */

.form-submitted {
	display: none;
}

.success-msg {
	margin: 10px 5px;
	padding: 10px;
	text-align: center;
	color: darkgreen;
	background-color: #e2f3c5;
	border: 1px solid darkgreen;
}

.contact-img {
	display: none;
}

.form-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: var(--pecan);
}

.form-input {
	display: block;
	margin: 10px;
	padding: 5px;
	width: 300px;
	height: 30px;
	resize: none;
	font-size: 1rem;
	font-family: var(--fontParagraph);
	border: 1px solid var(--pecan);
	box-shadow: 1px 1px 1px var(--pecan);
}

.form-text {
	height: 150px;
}

.contact-submit {
	width: 300px;
	margin: 10px;
	padding: 10px;
	border: none;
	color: var(--alabaster);
	background-color: var(--pecan);
	font-size: 2rem;
	border-radius: 10px;
}

.contact-submit:hover {
	text-decoration: underline;
	cursor: pointer;
}

.form-error {
	color: darkred;
}

#name-error,
#email-error,
#subject-error,
#message-error {
	display: none;
}

/* -----> About -----> */

.about-me {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* flex-direction: column-reverse; */
	max-width: 90%;
	margin: 0 auto;
	color: var(--pecan);
}

.about-me p {
}

.about-img {
	max-width: 300px;
	height: 450px;
	margin: 10px;
	background-image: url("../images/man-890885_640.jpg");
	border-radius: 10px;
}

.about-description {
	width: 500px;
}

.about-name {
	font: italic 500 2rem var(--fontLogoHeader);
}

/* -----> Post container -----> */
/* -----> Post container -----> */

@media screen and (min-width: 900px) {
	.navigation,
	.search-icon-desktop {
		display: inline-block;
	}

	.mobile-menu {
		display: none;
	}

	.fa-circle-chevron-left:hover,
	.fa-circle-chevron-right:hover {
		font-size: 4rem;
	}

	.post {
		max-width: 280px;
		min-width: 280px;
	}

	.contact-img {
		display: flex;
		height: 500px;
		width: 30%;
		background-image: url(../images/contact.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.recipe img {
		width: 70%;
	}

	.recipe {
		width: 80%;
	}
}
